<script type="text/javascript">
  $(function(){
    $("#cl-wrapper").css({opacity:1,'margin-left':0});
  });

<% if notice %>
  $.gritter.add({
    title: 'System message',
    text: '<%= notice %>',
    class_name: 'success'
  });
<% end %>

<% if alert %>
  $.gritter.add({
    title: 'System message',
    text: '<%= alert %>',
    class_name: 'danger'
  });
<% end %>

  $('a.gritter-close').text('');
  $.extend($.gritter.options, { 
    _tpl_close: '<a class="gritter-close" href="#" tabindex="1"> </a>'
  });

  JoelPurra.PlusAsTab.setOptions({key: 13});

  $(document).ready(function() {
//    $("input[class*='boolean']").bootstrapSwitch();
    $('.has-switch').bootstrapSwitch();

    $(".se-date").datetimepicker({
      format: $(".se-date").data('datetime-format'),
      locale: '<%= SpreeeedEngine.locale %>',
    });

    $(".se-time").datetimepicker({
      format: $(".se-time").data('datetime-format'),
      locale: '<%= SpreeeedEngine.locale %>',
    });

    $(".se-datetime").datetimepicker({
      format: $(".se-datetime").data('datetime-format'),
      locale: '<%= SpreeeedEngine.locale %>',
    });

    $('textarea.autogrow').autoGrow();

    $('.icheck').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    $('label.tree-toggler').click(function () {
      var icon = $(this).children(".fa");
      if(icon.hasClass("fa-folder-o")){
        icon.removeClass("fa-folder-o").addClass("fa-folder-open-o");
      }else{
        icon.removeClass("fa-folder-open-o").addClass("fa-folder-o");
      }

      $(this).parent().children('ul.tree').toggle(300,function(){
        $(this).parent().toggleClass("open");
        $(".tree .nscroller").nanoScroller({ preventPageScrolling: true });
      });

    });

    $('input.autogrow').inputAutogrow({maxWidth: 500, trailingSpace: 10});

  });
</script>
