<table id="<%= klass.datatable_id %>" class="table table-bordered dataTable">
  <thead>
    <tr>
<% datatable_config[:labels].each do |label| %>
      <th><%= label %></th>
<% end %>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<script type="text/javascript">
  jQuery(function($){
    $("#<%= klass.datatable_id %>").dataTable({
      bProcessing: true,
      oLanguage: {
        sProcessing: '<%= image_tag('spreeeed_engine/ajax-loader.gif') %>',
        sLengthMenu:   '<%= t('datatables.oLanguage.sLengthMenu') %>',
        sZeroRecords:  '<%= t('datatables.oLanguage.sZeroRecords') %>',
        sInfo:         '<%= t('datatables.oLanguage.sInfo') %>',
        sInfoEmpty:    '<%= t('datatables.oLanguage.sInfoEmpty') %>',
        sInfoFiltered: '<%= t('datatables.oLanguage.sInfoFiltered') %>',
        sInfoPostFix:  '<%= t('datatables.oLanguage.sInfoPostFix') %>',
        sSearch:       '<%= t('datatables.oLanguage.sSearch') %>',
        oPaginate: {
          sFirst:    '<%= t('datatables.oLanguage.oPaginate.sFirst') %>',
          sPrevious: '<%= t('datatables.oLanguage.oPaginate.sPrevious') %>',
          sNext:     '<%= t('datatables.oLanguage.oPaginate.sNext') %>',
          sLast:     '<%= t('datatables.oLanguage.oPaginate.sLast') %>'
        }
      },
      bServerSide: true,
      sAjaxSource: '<%= objects_path %>',
      aoColumns: <%= render_sortable_cols(klass, datatable_config[:cols]).to_json.html_safe %>,
      aaSorting: <%= render_default_sortable_cols(datatable_config[:sortable_cols], datatable_config[:cols]).to_json.html_safe %>,
    });

    //Search input style
    if ($("#<%= klass.datatable_id %>").length > 0) {
      $('.dataTables_filter input').addClass('form-control').attr('style', 'width:300px;').attr('placeholder', '<%= search_box_placeholder(klass, datatable_config[:searchable_cols]) %>');
      $('.dataTables_length select').addClass('form-control');
    }
  });
</script>
