<style>
  input.parsley-success,
  select.parsley-success,
  textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
  }

  input.parsley-error,
  select.parsley-error,
  textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
  }

  .parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
  }

  .parsley-errors-list.filled {
    opacity: 1;
  }
</style>

<%
  path = object.new_record? ? objects_path : object_path(object)
  form_id = nil
%>

<%= simple_form_for(object, :url => path, :html => { :role => 'form', :class => 'form-horizontal', :'data-parsley-validate' => '', :'data-plus-as-tab' => 'true', :novalidate => nil}) do |f| %>
<% form_id = f.options[:html][:id] %>
<%= render partial: 'error_messages', locals: { object: object, klass: klass } %>

<% if active_record_config[:editable_attrs].kind_of?(ActiveSupport::OrderedHash) %>
  <% active_record_config[:editable_attrs].each do |group, attrs| %>
    <div class="header">
      <h3><%= klass.human_attribute_name(group.to_sym) %></h3>
    </div>
    <% attrs.each do |attr| %>
      <%= render_input(klass, attr, f) %>
    <% end %>
  <% end %>
<% else %>
  <% active_record_config[:editable_attrs].each do |attr| %>
<%= render_input(klass, attr, f) %>
  <% end %>
<% end %>

  <% active_record_config[:hidden_attrs].each do |attr| %>
<%= render_hidden_input(klass, attr, f) %>
  <% end %>

<% active_record_config[:nested_attrs].each do |attr, col_class| %>
<%
  related_object_name = attr
  related_klass       = col_class.constantize
  options = { :class => 'btn btn-primary btn-sm pull-right', :partial => 'related_object_fields', :render_options => { :locals => { :klass => related_klass, :object_name => related_object_name}}}
  if has_one_association?(object.class, {name: related_object_name})
    # this options no longer works
    options.merge!({force_non_association_create: true})
  end
%>

<%= f.simple_fields_for related_object_name.to_sym do |related_form| %>
  <%= render partial: 'related_object_fields', locals: { :f => related_form, :klass => related_klass, :object_name => related_object_name} %>
<% end %>

<% if (related_object_name.singularize != related_object_name) || (f.object.send(related_object_name).nil?) %>
<% linked_name = %Q|<i class="fa fa-plus"></i> #{t('operations.new')} #{related_klass.model_name.human}|.html_safe %>
<div class="links col-sm-9">
    <%= link_to_add_association linked_name, f, related_object_name.to_sym, options %>
</div>
<br clear="all" />
<% end %>

<% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% submit_text = object.new_record? ? t('operations.save') : t('operations.save_changes') %>
      <%= f.button :submit, submit_text, :class => 'btn btn-primary' %>
      <%= f.button :button, t('operations.cancel'), :type => 'reset', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("#<%= form_id %>").dirrty().on("dirty", function () {
      $("#form-state").html("Modified").attr('class', 'btn btn-warning');
    }).on("clean", function () {
      $("#form-state").html("Clean").attr('class', 'btn btn-default');
    });
  });
</script>