<div class="nested-fields">
  <div class="<%= object_name %>_container">
    <div><h5><%= t('operations.new') %> <%= klass.model_name.human %></h5></div>
    <hr />

<% klass.editable_attrs.each do |attr| %>
<%= render_input(klass, attr, f) %>
<% end %>

  </div>

  <div class="col-sm-9"><%= link_to_remove_association %Q|<i class="fas fa-trash-alt"></i> #{t('operations.destroy')} #{klass.model_name.human}|.html_safe, f, :class => 'btn btn-danger btn-sm pull-right' %></div>
  <br clear="all" />
</div>
