<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="block-flat">

      <div class="header">
        <h3><i class="fa <%= @klass.icon %>"></i> <%= t('new') %> <%= @klass.model_name.human %></h3>
      </div>

      <div class="content">
<%= render :partial => 'form', :locals => {:object => @object, :klass => @klass, :editable_cols => @editable_cols, :nested_cols => @nested_cols, :hidden_cols => @hidden_cols} %>

        <%= link_to t('back'), objects_path %>
      </div>

    </div>
  </div>
</div>
