<div class="row">
  <div class="col-md-12">
    <div class="block-flat">
      <div class="header">
        <h3><%= object_name(@object) %></h3>
      </div>
      <div class="content">
        <table class="no-border hover">
          <tbody class="no-border-y">
<% @datatable_config[@klass_key][:cols].each do |attr| %>
            <tr>
              <td><%= @klass.human_attribute_name(attr.to_sym) %></td>
              <td class="text-right"><%= display_attribute(@object, attr) %></td>
            </tr>
<% end %>
          </tbody>
        </table>
        <div class="content">
          <%= link_to(edit_label, edit_object_path(@object), class: 'btn btn-primary') if @active_record_config[@klass_key][:editable] %>
          <%= link_to(destroy_label, object_path(@object), 'data-confirm': "#{t('destroy')} #{object_name(@object)}?", :method => :delete, :class => 'btn btn-danger pull-right') if @active_record_config[@klass_key][:deletable] %>
        </div>
      </div>
    </div>
  </div>


</div>

<%= link_to t('back'), objects_path %>
